<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>categoria</title>
</head>

<body>
    {% block conteudo %}
    <form action="{% url 'adicionar_categoria' %}" method="post" class="border rounded" style="padding: 10px;">
        <h3>Cadastro de categoria</h3>
        {% csrf_token %}
        <div class="input-group" style="margin-top: 5px; margin-bottom: 5px;">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Nome da Categoria</span>
            </div>
            <input type="text" class="form-control" name="nome">
        </div>
        <div class="input-group" style="margin-top: 5px; margin-bottom: 5px;">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Sessão</span>
            </div>
            <select name="sessao" class="form-control">
                {% for sessao in sessoes %}
                <option value="{{sessao.id}}">{{sessao.nome}}</option>
                {%endfor%}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
    <br>
    <table class="table">
        <tr>
            <th>Categoria</th>
            <th>Sessão</th>
            <th></th>
        </tr>
        {% for categoria in categorias %}
        <tr>
            <td>{{categoria.nome}}</td>
            <td>{{categoria.sessao}}</td>
            <td><a href="{% url 'excluir_categoria' categoria.id %}" class="btn btn-danger">Excluir</a></td>
            
        </tr>
        {% endfor %}
    </table>
    {% endblock %}

</body>

</html>