<!DOCTYPE html>
<html lang="pt-br">
    {% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block conteudo %}
    <form action="{% url 'cadastrar_cidade' %}" method="post" class="border rounded" style="padding: 10px;">
        <h3>Cadastro de Cidades</h3>
        {% csrf_token %}
        <div class="input-group" style="margin-top: 5px; margin-bottom: 5px;">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Nome da Cidade</span>
            </div>
            <input type="text" class="form-control" name="nome">
        </div>
        <button class="btn btn-primary" type="submit">Salvar</button>
    </form>
    <br>
    <table class="table">
        <tr>
            <th>Cidade</th>
            <th></th>
        </tr>
        {% for cidade in cidades %}
        <tr>
            <td>{{cidade.nome}}</td>
            <td><a href="{% url 'excluir_cidade' cidade.id %}" class="btn btn-danger">Excluir</a></td>
        </tr> 
        {% endfor %}
    </table>
    {% endblock %} 
</body>
</html>