<!DOCTYPE html>
<html lang="pt-br">
{% extends 'base.html' %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block conteudo %}
    <form action="{% url 'cadastrar_mercados' %}" method="post" class="container form-perso border rounded">
        <h3>Cadastro de Mercados</h3>
        {% csrf_token %}
        <div class="input-group" style="margin-top: 5px;">
            <div class="input-group-prepend">
                <span class="input-group-text" id="">Nome do Mercado</span>
            </div>
            <input type="text" class="form-control" name="nome">
        </div>
        <div class="form-row">
            <div class="input-group col-md-6">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Rua</span>
                </div>
                <input type="text" class="form-control" name="rua">
            </div>
            <div class="input-group col-md-6">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Bairro</span>
                </div>
                <input type="text" class="form-control" name="bairro">
            </div>
        </div>
        <div class="form-row">
            <div class="input-group col-md-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Número</span>
                </div>
                <input type="number" class="form-control" name="numero">
            </div>
            <div class="input-group col-md-9">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="">Cidade</span>
                </div>
                <select name="cidade" class="form-control">
                    {% for cidade in cidades %}
                    <option value="{{cidade.id}}">{{cidade.nome}}</option>
                    {%endfor%}
                </select>
            </div>
        </div>


        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
    <br>
    <table class="table">
        <tr>
            <th>Nome</th>
            <th>Rua</th>
            <th>Cidade</th>
            <th></th>
            <th></th>
        </tr>
        {% for mercado in mercados %}
        <tr>
            <td>{{mercado.nome}}</td>
            <td>{{mercado.rua}}</td>
            <td>{{mercado.cidade}}</td>
            <td><a href="{% url 'excluir_mercado' mercado.id %}" class="btn btn-danger">Excluir</a></td>
            <td><!-- Button trigger modal -->
                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal{{mercado.id}}">
                    Editar
                </button>
            </td>

            <!-- Modal -->
            <div class="modal fade" id="modal{{mercado.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">{{mercado.nome}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'editar_mercado' mercado.id %}" method="post">
                                {% csrf_token %}
                                <div class="input-group" style="margin-top: 5px; margin-bottom: 5px;">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="">Nome do Mercado</span>
                                    </div>
                                    <input type="text" class="form-control" name="nome" value="{{mercado.nome}}">
                                </div>
                                <div class="form-row" style="margin-bottom: 5px;">
                                    <div class="input-group col-md-6">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="">Rua</span>
                                        </div>
                                        <input type="text" class="form-control" name="rua" value="{{mercado.rua}}">
                                    </div>
                                    <div class="input-group col-md-6">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="">Bairro</span>
                                        </div>
                                        <input type="text" class="form-control" name="bairro" value="{{mercado.bairro}}">
                                    </div>
                                </div>
                                <div class="form-row" style="margin-bottom: 5px;">
                                    <div class="input-group col-md-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="">Número</span>
                                        </div>
                                        <input type="number" class="form-control" name="numero" value="{{mercado.numero}}">
                                    </div>
                                    <div class="input-group col-md-9">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="">Cidade</span>
                                        </div>
                                        <select name="cidade" class="form-control">
                                            {% for cidade in cidades %}
                                            {% if cidade == mercado.cidade %}
                                            <option value="{{cidade.id}}" selected>{{cidade.nome}}</option>
                                            {% else %}
                                            <option value="{{cidade.id}}">{{cidade.nome}}</option>
                                            {% endif %}
                                            {%endfor%}
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                    <button type="submit" class="btn btn-primary">Salvar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </tr>
        {% endfor %}
    </table>

    {% endblock %}

</body>

</html>