<!DOCTYPE html>
<html lang="pt-br">
{% extends 'base.html' %}
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    {% block conteudo %}

    <div class="card-group">
        <div class="row">
            {% for produto in produtos %}
            <div class="produtos card bg-light" style="height: 500px;">
                <img class="card-img-top" src="{{produto.imagem.url}}" alt="Imagem de {{produto.nome}}">
                <div class="card-body">
                    <h5 class="card-title">{{produto.nome}}</h5>
                    {% if produto.descricao != None %}
                    <p class="card-text">{{produto.descricao}}</p>
                    {% endif %}
                    <!-- Botão para acionar modal -->
                    <div style="position: absolute; bottom: 10px;">
                        <button type="button" class="btn btn-info" data-toggle="modal"
                            data-target="#modal{{produto.id}}">
                            Preços
                        </button>
                        {% if usuario.is_authenticated %}
                        <a href="{% url 'tela_precos' produto.id %}" class="btn btn-info">Alterar
                            preços</a>
                        {% endif %}
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="modal{{produto.id}}" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">{{produto.nome}}</h5>
                                </div>
                                <div class="modal-body">
                                    <table class="table" id="tabela_precos">
                                        {% for preco in precos %}
                                        {% for linha in preco %}
                                        {% if linha.produto == produto and linha.preco > 0 %}
                                        <tr class="{% if linha.preco == produto.preco_mais_barato %}verde{% endif %}">
                                            <td>{{linha.mercado.nome}}</td>
                                            <td>{{linha.preco}}</td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                        {% endfor %}
                                    </table>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endblock %}
</body>

</html>